body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  text-align: center;
  font-weight: bold;
}

main {
  margin: auto;
  text-align: center;
}

.board {
  border: 1px solid black;
}

.tile {
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  text-align: center;
}

.tile:hover {
  background-color: aquamarine;
}

footer {
  text-align: center;
}
