body {
  font-family: "Verdana";
}

header {
  text-align: center;
  font-weight: bold;
}

main {
  margin: auto;
  width: fit-content;
}

.board {
  border: 1px solid black;
}

.tile {
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  text-align: center;
  background-color: white;

  &.invalid-row {
    border-color: red;
    background-color: lightcoral;
    font-weight: bold;
    color: black;
  }

  &.invalid-column {
    border-color: red;
    background-color: lightcoral;
    font-weight: bold;
    color: black;
  }
}

.tile[started-as-blank] {
  color: green;
  &:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
  &.invalid-row {
    color: black;
  }
  &.invalid-column {
    color: black;
  }
}

.tile[selected] {
  background-color: yellow;
}

footer {
  text-align: center;
}
