body {
  font-family: "Verdana";
}

header {
  text-align: center;
  font-weight: bold;
}

.board {
  border: 1px solid black;
  margin: 0 auto;
  border-spacing: 0;
}

.tile {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;

  &.invalid-row {
    border-color: red;
    background-color: lightcoral;
    font-weight: bold;
    color: black;
  }

  &.invalid-column {
    border-color: red;
    background-color: lightcoral;
    font-weight: bold;
    color: black;
  }

  &.invalid-square {
    border-color: red;
    background-color: lightcoral;
    font-weight: bold;
    color: black;
  }
}

.tile[started-as-blank] {
  color: green;
  &:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
  &.invalid-row {
    color: white;
  }
  &.invalid-column {
    color: white;
  }
  &.invalid-square {
    color: white;
  }
}

.tile[selected] {
  background-color: yellow;
}

.winner {
  display: none;
  text-align: center;
  color: green;
}

.start-over {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

footer {
  text-align: center;
}

.show-up {
  display: block;
}
