body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  text-align: center;
  font-weight: bold;
}

main {
  margin: auto;
  width: 50%;
  text-align: center;
}

footer {
  text-align: center;
}
